img {
    max-width: 100%;
    height: auto
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.gallery-caption {
    box-sizing: border-box
}

.bypostauthor {
    box-sizing: border-box
}

.lien-perso {
    font-family: Impact, Haettenschweiler, sans-serif;
}

.lien-perso {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.lien-perso:hover {
    position: relative;
    color: #61c408;
    font-size: 17px;
}

.woocommerce {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.title-login {
    float: left
}

.alert {
    color: red;
}

.col-md-sty {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: right
}

.required {
    color: red
}

.input-text {
    display: block;
    width: 80%;
    height: 40px;
    padding: 12px;
    font-size: 14px;
    line-height: 1.8;
    color: #555;
    background-color: #fff;
    border: 1px solid #003b60;
    border-radius: 4px
}

.input-text:focus {
    border-color: #66afe9;
    outline: 0
}

.button-btn {
    text-align: center;
    width: 50%;
    height: 40px;
    color: #f1f1f1;
    background-color: #003b60;
    border-radius: 4px
}

.button-btn:hover {
    background-color: #003b60;
    width: 47%
}

@media only screen and (min-width: 1000px) and (max-width: 5000px) {
    body.kc-css-system .kc-css-24224 {
        width: 100%;
    }
    body.kc-css-system .kc-css-29813 {
        width: 50%;
    }
    body.kc-css-system .kc-css-314052 {
        width: 50%;
    }
    body.kc-css-system .kc-css-929599 {
        width: 100%;
    }
    body.kc-css-system .kc-css-904762 {
        width: 25%;
    }
    body.kc-css-system .kc-css-855497 {
        width: 25%;
    }
    body.kc-css-system .kc-css-419662 {
        width: 25%;
    }
    body.kc-css-system .kc-css-763818 {
        width: 25%;
    }
}

body.kc-css-system .kc-css-320061 {
    background: #002b46;
    padding-top: 48px;
    padding-bottom: 42px;
}

body.kc-css-system .kc-css-86480 {
    background: #ffffff;
    padding-top: 60px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 999px) {
    body.kc-css-system .kc-css-320061 {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    body.kc-css-system .kc-css-29813 {
        width: 100a070682fb7568c0976e0b91e82199683559eb0175e6c0e60ad89490068376c4d;
    }
    body.kc-css-system .kc-css-314052 {
        width: 100a070682fb7568c0976e0b91e82199683559eb0175e6c0e60ad89490068376c4d;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 767px) {
    body.kc-css-system .kc-css-904762 {
        padding-bottom: 20px;
    }
}

img {
    max-width: 100%;
    height: auto
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.gallery-caption {
    box-sizing: border-box
}

.bypostauthor {
    box-sizing: border-box
}

.couleur:hover {
    background-color: aliceblue;
}

.couleur {
    color: rgb(250, 251, 252);
    vertical-align: top;
}

#fond-2 {
    background-color: #002b46;
}

#border {
    border: 4px solid #002b46;
    background-color: darkgray;
}

.error {
    color: red;
    font-style: italic;
    font-size: 10px;
}
